<!DOCTYPE html>
<html lang="en">
{{template "Head"}}
<body>
<div id="wrapper">
{{template "Navigation" .}}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="page-header">
        <h1>SignIn</h1>
        </div>
        
        <form class="form-horizontal" method="post">
            <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">E-Mail</label>
            <div class="col-sm-6">
            <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="이메일">
            </div>
            </div>
            <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-6">
            <input type="password" class="form-control"  name="inputPassword" id="inputPassword" placeholder="비밀번호">
            </div>
            </div>

            <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label"></label>
            <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">SignIn</button>
            </div>
            </div>
        </form>
    </div>
    <!-- /.container-fluid -->
    </div>
<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>
</html>